<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/header %>

  <title>
    <%= t("Home") %> | <%= t("ArchCyber") %>
  </title>

  <% include partials/styles %>
</head>

<body>
  <% include partials/loader %>

  <% include partials/navbar %>

  <% include partials/message-alerts %>

  <!-- Page content -->
  <div class="wrapper">
    <div class="cd-section" id="header">
      <div class="header">
        <div id="carouselIndicators" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIndicators" data-slide-to="1"></li>
            <li data-target="#carouselIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="page-header header-filter">
                <div class="page-header-image" data-parallax="true" style="background-image: url('/img/automation-banner.jpg');"></div>
                <div class="container" style="margin-top: 20em;">
                  <div class="content-center">
                    <div class="row">
                      <div class="col-md-12 text-left">
                        <h1 class="title"><%= t("Industrial Automation") %></h1>
                        <h4 class="description "><%= t("homepage.slideshow.automationMsg") %></h4>
                        <br />
                        <div class="buttons">
                          <a href="/products/automation" class="btn btn-neutral btn-round btn-slideshow btn-lg mr-1">
                            <%= t("Learn More") %>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="page-header header-filter">
                <div class="page-header-image" data-parallax="true" style="background-image: url('/img/data-collection-banner.jpg');"></div>
                <div class="container" style="margin-top: 20em;">
                  <div class="content-center">
                    <div class="row">
                      <div class="col-md-12 text-left">
                        <h1 class="title"><%= t("Smart Data Collection") %></h1>
                        <h4 class="description "><%= t("homepage.slideshow.dataCollectionMsg") %></h4>
                        <br />
                        <div class="buttons">
                          <a href="/products/data-collection" class="btn btn-neutral btn-round btn-slideshow btn-lg mr-1">
                            <%= t("Learn More") %>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="page-header header-filter">
                <div class="page-header-image" data-parallax="true" style="background-image: url('/img/custom-software-banner.jpg');"></div>
                <div class="container" style="margin-top: 20em;">
                  <div class="content-center">
                    <div class="row">
                      <div class="col-md-12 text-left">
                        <h1 class="title"><%= t("Custom Software Solutions") %></h1>
                        <h4 class="description "><%= t("homepage.slideshow.customSoftwareMsg") %></h4>
                        <br />
                        <div class="buttons">
                          <a href="/products/custom-software" class="btn btn-neutral btn-round btn-slideshow btn-lg mr-1">
                            <%= t("Learn More") %>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev" style="margin-top: 60px">
            <i class="now-ui-icons arrows-1_minimal-left"></i>
          </a>
          <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next" style="margin-top: 60px">
            <i class="now-ui-icons arrows-1_minimal-right"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="cd-section" id="features">
      <div class="features-1">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <h2 class="title"><%= t("homepage.products.title") %></h2>
              <h4 class="description">
                <%= t("homepage.products.description") %>
              </h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="info info-hover">
                <a href="/products/automation" style="text-decoration: none;">
                  <div class="icon icon-primary">
                    <i class="now-ui-icons education_atom"></i>
                  </div>
                  <h4 class="info-title"><%= t("Industrial Automation") %></h4>
                  <p class="description"><%- t("homepage.products.automationSummary") %></p>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info info-hover">
                <a href="/products/data-collection" style="text-decoration: none;">
                  <div class="icon icon-success">
                    <i class="now-ui-icons business_chart-bar-32"></i>
                  </div>
                  <h4 class="info-title"><%= t("Smart Data Collection") %></h4>
                  <p class="description"><%- t("homepage.products.dataCollectionSummary") %></p>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info info-hover">
                <a href="/products/custom-software" style="text-decoration: none;">
                  <div class="icon icon-warning">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                  </div>
                  <h4 class="info-title"><%= t("Custom Software Solutions") %></h4>
                  <p class="description"><%- t("homepage.products.customSoftwareSummary") %></p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cd-section" id="contactus">
      <div class="contactus-1 section-image" style="background-image: url('/img/home-contact-bg.jpg')">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <h2 class="title"><%= t("homepage.contactUs.title") %></h2>
              <h4 class="description"><%= t("homepage.contactUs.description") %></h4>
              <div class="info info-horizontal">
                <div class="icon icon-primary">
                  <i class="fa fa-map-marker-alt"></i>
                </div>
                <div class="description">
                  <h4 class="info-title"><%= t("homepage.contactUs.officeCTA") %></h4>
                  <p class="description"><%- t("homepage.contactUs.officeAddress") %>
                  </p>
                </div>
              </div>
              <div class="info info-horizontal">
                <div class="icon icon-primary">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="description">
                  <h4 class="info-title"><%= t("homepage.contactUs.phoneCTA") %></h4>
                  <p class="description"><%- t("homepage.contactUs.phoneAddress") %></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto">
              <div class="card card-contact card-raised">
                <form role="form" id="contact-form" method="post" action="/send-message">
                  <div class="card-header text-center">
                    <h4 class="card-title" style="margin-top: 15px"><%= t("Contact Us") %></h4>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label><%= t("Your name") %></label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                        </div>
                        <input type="text" class="form-control" name="name" placeholder="<%= t("Your name") %>..." aria-label="Your Name..." autocomplete="name" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label><%= t("Email address") %></label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                        </div>
                        <input type="email" class="form-control" name="email" placeholder="<%= t("Email Here") %>..." aria-label="Email Here..." autocomplete="email" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label><%= t("Phone") %></label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="now-ui-icons tech_mobile"></i></span>
                        </div>
                        <input type="text" class="form-control" name="phone" placeholder="<%= t("Phone Number Here") %>..." autocomplete="number" required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label><%= t("Your message") %></label>
                      <textarea name="message" class="form-control" name="message" id="message" rows="6" required></textarea>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-check">
                          <div class="g-recaptcha" data-sitekey="6LfzsZ8aAAAAABMw1OmXkkPJnpiv06xwMp0qCCVf"></div>
                        </div>
                      </div>
                      <div class="col-md-6 align-self-center">
                        <button type="submit" class="btn btn-primary btn-round btn-lg pull-right"><%= t("Send Message") %></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include partials/footer %>
    <% include partials/sign-in-modal %>
  </div>
  <% include partials/scripts %>

  <!-- Other JS -->
  <% include partials/ejs-scripts/contact-form-scripts %>
</body>

</html>